@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,800&display=swap');

html, body {
  margin: 0;
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;

}

.All {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  text-align: center;
  margin: 0 1em 0 1em;
}

.box > h1 {
  font-size: 2.5em;
  margin: 0;
}

.box > h3 {
  font-weight: normal;
  margin: 0;
}

.flex-container > span {
  margin-top: 1em;
  animation: blink 1s infinite linear;
}

.bg {
  position: absolute;
  inset: 0;
  background-image : url("https://unsplash.com/photos/cP_CZA8KCqc/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQwNzk4MTA4&force=true&w=1920");
}

@keyframes blink {
  0% { opacity: 1 }
  20% { opacity: 1 }
  40% { opacity: 1 }
  60% { opacity: 0 }
  80% { opacity: 0 }
  100% { opacity: 0 }
}