@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,800&display=swap");

html,
body {
  margin: 0;
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
}

.All {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.All > h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .All > h1 {
    font-size: 1.5em;
  }
}

.box {
  text-align: center;
  margin: 0 1em 0 1em;
}

.box > h1 {
  font-size: 2.5em;
  margin: 0;
}

.box > h3 {
  font-weight: normal;
  margin: 0;
}

.flex-container > span {
  margin-top: 1em;
  animation: blink 1s infinite linear;
}

.modal {
  font-size: 12px;
  background-color: whitesmoke;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 3px #00000030;
}
.modal > .header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .okmodal {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

#tlkcont {
  position: absolute;
  width: 350px;
  height: 450px;
  right: 10px;
  bottom: 110px;
}

.fab {
  position: absolute;
  right: 25px;
  bottom: 55px;
}

.fab-text {
  margin-left: 10px;
}

.about {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: rgb(143, 143, 143);
  text-align: center;
}

.sticky {
  position: sticky !important;
}

.about > p,
.about > h5 {
  font-size: 9px;
  margin: 0;
}

.NYpic {
  max-width: 450px;
  padding: 0 30px;
}

.selamat {
  position: relative;
}

.selamat > h2,
.selamat > p {
  margin: 0;
  text-align: center;
  max-width: 500px;
  padding: 0 30px;
}

.selamat > h3 {
  max-width: 450px;
  margin: 20px 0 10px 0;
  font-size: 1.5em;
  text-align: center;
}

.more {
  font-size: 10pt;
  color: rgb(129, 129, 129);
}

@media screen and (max-width: 500px) {
  .selamat > h2 {
    font-size: 1em;
  }
}

.creator {
  max-width: 270px;
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
